# ch3 列表简介

In [6]:
bicycles = ['trek', 'cannondale', 'redline', 'specialized']
print(bicycles)
print(bicycles[0])
print(bicycles[0].title())

print(bicycles[1])
print(bicycles[3])

print(bicycles[-1])

['trek', 'cannondale', 'redline', 'specialized']
trek
Trek
cannondale
specialized
specialized

In [8]:
bicycles = ['trek', 'cannondale', 'redline', 'specialized']
message = "My first bicycle was a " + bicycles[0].title() + "."
print(message)

My first bicycle was a Trek.

In [10]:
names = ["Alice", "Bob", "Carol", "Fred"]
print(names[0])
print(names[-2])

Alice
Carol

In [11]:
names = ["Alice", "Bob", "Carol", "Fred"]
message = "Hello, this is " + names[0] + "."
print(message)

Hello, this is Alice.

In [14]:
transports = ["bicycle", "motorcycle", "car"]
message = "I would like to own a Honda " + transports[1].title() + "."
print(message)

I would like to own a Honda Motorcycle.

In [15]:
motorcycles = ['honda', 'yamaha', 'suzuki']
print(motorcycles)

motorcycles[0] = 'ducati'
print(motorcycles)

['honda', 'yamaha', 'suzuki']
['ducati', 'yamaha', 'suzuki']

## 在列表中添加元素

### 在列表末尾添加元素

In [16]:
motorcycles = ['honda', 'yamaha', 'suzuki']
print(motorcycles)

motorcycles.append('ducati')
print(motorcycles)

['honda', 'yamaha', 'suzuki']
['honda', 'yamaha', 'suzuki', 'ducati']

In [17]:
motorcycles = []

motorcycles.append('honda')
motorcycles.append('yamaha')
motorcycles.append('suzuki')

print(motorcycles)

['honda', 'yamaha', 'suzuki']

### 在列表中插入元素

motorcycles = ['honda', 'yamaha', 'suzuki']

motorcycles.insert(0, 'ducati')
print(motorcycles)

## 从列表中删除元素

- 使用 del 语句 - 如果你要从列表中删除一个元素，且不再以任何方式使用它
- 使用 pop 语句 - 如果你要在删除元素后还能继续使用它，知道索引
- 使用 remove 语句 - 如果你要在删除元素后还能继续使用它，知道值

### 使用 del 语句删除元素(根据索引)

In [19]:
motorcycles = ['honda', 'yamaha', 'suzuki']
print(motorcycles)

del motorcycles[0]
print(motorcycles)

['honda', 'yamaha', 'suzuki']
['yamaha', 'suzuki']

In [20]:
motorcycles = ['honda', 'yamaha', 'suzuki']
print(motorcycles)

del motorcycles[1]
print(motorcycles)

['honda', 'yamaha', 'suzuki']
['honda', 'suzuki']

### 使用方法 pop() 删除元素

将元素从列表中删除，并接着使用它的值

In [22]:
motorcycles = ['honda', 'yamaha', 'suzuki']
print(motorcycles)

popped_motorcycle = motorcycles.pop()
print(motorcycles)
print(popped_motorcycle)

['honda', 'yamaha', 'suzuki']
['honda', 'yamaha']
suzuki

In [24]:
motorcycles = ['honda', 'yamaha', 'suzuki']

last_owned = motorcycles.pop()
print("The last motorcycle I own was a " + last_owned.title() + ".")

print(motorcycles)

The last motorcycle I own was a Suzuki.
['honda', 'yamaha']

### 弹出列表中任何位置处的元素

In [27]:
motorcycles = ['honda', 'yamaha', 'suzuki']

first_owned = motorcycles.pop(0)
print('The first motorcycle I owned was a Honda.')

print(motorcycles)

The first motorcycle I owned was a Honda.
['yamaha', 'suzuki']

### 根据值删除元素

- remove () 只删除第一个指定的值
- 如果要删除的值可能在列表中出现多次，就需要使用循环来判断

In [29]:
motorcycles = ['honda', 'yamaha', 'suzuki','ducati']
print(motorcycles)

motorcycles.remove('ducati')
print(motorcycles)

['honda', 'yamaha', 'suzuki', 'ducati']
['honda', 'yamaha', 'suzuki']

In [30]:
motorcycles = ['honda', 'yamaha', 'suzuki','ducati']
print(motorcycles)

too_expensive = 'ducati'
motorcycles.remove(too_expensive)
print(motorcycles)
print("\nA " + too_expensive.title() + " is too expensive for me.")

['honda', 'yamaha', 'suzuki', 'ducati']
['honda', 'yamaha', 'suzuki']

A Ducati is too expensive for me.

In [33]:
names = ["Zed", "ZoomQuiet", "Paul Graham"]

print('You will have dinner with ' + names[0] + ' tonight.')

You will have dinner with Zed tonight.

In [34]:
names = ["Zed", "ZoomQuiet", "Paul Graham"]

not_come = "Paul Graham"
print(not_come + ' could not come tonight.')

names.remove(not_come)
names.append("Bach")

print('You will have dinner with ' + names[2] + ' tonight.')

Paul Graham could not come tonight.
You will have dinner with Bach tonight.

In [37]:
names = ["Zed", "ZoomQuiet", "Paul Graham"]

print("You found a new place.")

names.insert(0, "Mozart")
names.insert(2, "Muse")
names.append("Sum 41")

print(names)
print('You will have dinner with ' + names[4] + ' tonight.')

You found a new place.
['Mozart', 'Zed', 'Muse', 'ZoomQuiet', 'Paul Graham', 'Sum 41']
You will have dinner with Paul Graham tonight.

In [46]:
names = ['Mozart', 'Zed', 'Muse', 'ZoomQuiet', 'Paul Graham', 'Sum 41']

print("You found another new place, you could invite two people.")

print("I am sorry. " + names.pop(0) + '.')
print("I am sorry. " + names.pop() + '.')
print("I am sorry. " + names.pop() + '.')
print("I am sorry. " + names.pop() + '.')

print(names)

print("Hi, " + names[0])
print("Hi, " + names[-1])

del names[0]
del names[-1]

print(names)

You found another new place, you could invite two people.
I am sorry. Mozart.
I am sorry. Sum 41.
I am sorry. Paul Graham.
I am sorry. ZoomQuiet.
['Zed', 'Muse']
Hi, Zed
Hi, Muse
[]

In [47]:
cars = ['bmw', 'audi', 'toyota', 'subaru']
cars.sort()
print(cars)

['audi', 'bmw', 'subaru', 'toyota']

In [48]:
cars = ['bmw', 'audi', 'toyota', 'subaru']
cars.sort(reverse=True)
print(cars)

['toyota', 'subaru', 'bmw', 'audi']

In [49]:
cars = ['bmw', 'audi', 'toyota', 'subaru']

print("Here is the original list:")
print(cars)

print("\nHere is the sorted list:")
print(sorted(cars))

print("\nHere is the original list again:")
print(cars)

Here is the original list:
['bmw', 'audi', 'toyota', 'subaru']

Here is the sorted list:
['audi', 'bmw', 'subaru', 'toyota']

Here is the original list again:
['bmw', 'audi', 'toyota', 'subaru']

In [51]:
cars = ['bmw', 'audi', 'toyota', 'subaru']
print(cars)

cars.reverse()
print(cars)

cars.reverse()
print(cars)

['bmw', 'audi', 'toyota', 'subaru']
['subaru', 'toyota', 'audi', 'bmw']
['bmw', 'audi', 'toyota', 'subaru']

In [52]:
cars = ['bmw', 'audi', 'toyota', 'subaru']
print(len(cars))

4

In [68]:
places = ['USA', 'England', 'Finland', 'Switzerland', 'Spain']

print(places)
print(sorted(places))
print(places)
print(sorted(places, reverse=True))

print(places)
places.reverse()
print(places)
places.reverse()

print(places)
places.sort()
print(places)
places.sort(reverse=True)
print(places)

['USA', 'England', 'Finland', 'Switzerland', 'Spain']
['England', 'Finland', 'Spain', 'Switzerland', 'USA']
['USA', 'England', 'Finland', 'Switzerland', 'Spain']
['USA', 'Switzerland', 'Spain', 'Finland', 'England']
['USA', 'England', 'Finland', 'Switzerland', 'Spain']
['Spain', 'Switzerland', 'Finland', 'England', 'USA']
['USA', 'England', 'Finland', 'Switzerland', 'Spain']
['England', 'Finland', 'Spain', 'Switzerland', 'USA']
['USA', 'Switzerland', 'Spain', 'Finland', 'England']

In [72]:
motorcycles = ['honda', 'yamaha', 'suziki']
print(motorcycles[-3])

honda

发生索引错误却找不到解决办法时，请尝试将列表或其长度打印出来。